@model List<Higertech.Models.Article>;
@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Article";
    @* ViewData["HideFooter"] = true; *@
}
<br />
<br />
<!-- Recent Blog Posts Section -->
<section id="recent-blog-posts" class="recent-blog-posts section">
    <!-- Section Title -->
    <div class="container section-title pt-5" data-aos="fade-up">
        <h2>Recent Blog Posts</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-5">

            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-xl-4 col-md-6">
                        <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
                            <div class="post-img position-relative overflow-hidden ">
                                <img src="@Url.Content(item.Image)" class="img-fluid  w-100 article-image" alt="">
                                <span class="post-date">@item.CreatedAt.ToString("MMMM dd", new CultureInfo("id-ID"))</span>
                            </div>

                            <div class="post-content d-flex flex-column">
                                <h3 class="post-title">@item.Title</h3>
                                <div class="meta d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-person"></i> <span class="ps-2">@item.Author</span>
                                    </div>
                                    <span class="px-3 text-black-50">/</span>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-folder2"></i> <span class="ps-2">@item.Category</span>
                                    </div>
                                </div>

                                <hr>
                                <a href="/article/@item.Slug" class="readmore stretched-link"><span>Read More</span><i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- End post item -->

                }
            }
            else
            {
                <div class="col-12 text-center">
                    <p>No article available.</p>
                </div>
            }
        </div>
    </div>
</section><!-- /Recent Blog Posts Section -->
